.event-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.event__head {
    text-align: center;
    text-transform: uppercase;
    background-color: var(--main-color);
    padding: 70px;
}

.event__head h1 {
    font-size: 3rem;
}

.event-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-card figure {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
}

.event-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.event-content {
    padding: 16px;
    text-align: left;
}

.event-date {
    font-size: 14px;
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.register-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.event-title {
    font-size: 18px;
    color: #333;
    margin: 8px 0;
}

.event-description {
    font-size: 14px;
    color: #555;
}